.products__form-name {
  background: #ffffff;
  border: 1px solid #508b8c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  width: 248px;
  height: 38px;
  padding-left: 20px;
  outline: none;
}

@media (max-width: 1279px) {
  .products__form-name {
    width: 320px;
  }
}

@media (max-width: 767px) {
  .products__form-name {
    width: 160px;
  }
}
