.products__discount-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 21px;
}

@media (max-width: 767px) {
  .products__discount-block {
    margin-top: 25px;
  }
}