.products__total-order-amount {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #404040;
}

@media (max-width: 767px) {
  .products__total-order-amount {
    font-size: 16px;
  }
}