.logo {
    width: 116.52px;
    height: 19.73px;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .logo:hover {
    opacity: 0.6;
  }