.section__title {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #101010;
  margin: 6px 0 0 0;
}

@media (max-width: 1279px) {
  .section__title {
    font-size: 32px;
  }
}
